@media screen and (max-width:320px) {
    .titulo-principal{
        font-size: 1.5rem;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        span{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }
    .subtitulo{
        font-size: 1rem;
        text-transform: capitalize;
        text-align: center;
        margin: 5px;
        padding: 3px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #padre-a{
        display: flex;
        justify-content: center;
        align-items: center;
        .entretenimiento-hijo{
            display: none;
        }
        #entretenimiento-mobile{
            display: flex;
            .img-entretenimiento{
                height: max-content;
            }
        }
    }
    .subtitulo{
        font-size: 1rem;
        text-transform: capitalize;
        text-align: center;
        margin: 5px;
        padding: 3px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #padre-b{
        display: flex;
        justify-content: center;
        align-items: center;
        .entretenimiento-hijo{
            display: none;
        }
        #entretenimiento-mobile{
            display: flex;
            .img-entretenimiento{
                height: max-content;
            }
        }
    }
    .subtitulo{
        font-size: 1rem;
        text-transform: capitalize;
        text-align: center;
        margin: 5px;
        padding: 3px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #padre-c{
        display: flex;
        justify-content: center;
        align-items: center;
        .entretenimiento-hijo{
            display: none;
        }
        #entretenimiento-mobile{
            display: flex;
            .img-entretenimiento{
                height: max-content;
            }
        }
    }
    }