@media(max-width:974px){
    .alimento-padre{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 10rem;
        gap: 0.5rem;
        margin-left: 0.4rem;
        margin-right:0.4rem;
        justify-items: center;
    }
}