@media screen and (max-width: 375px) {
    .titulo-principal{
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.3rem;
      color: red;
      span{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
    }
    .grid-area{
      display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,12rem);
    grid-template-areas: 
    "item-1 item-1 item-2"
    "item-3 item-3 item-2"
    "item-3 item-3 item-2";
    gap: 0.2rem;
      .area-item-1{
        grid-area:item-1;
          display: flex;
          flex-direction: column;
        h3{
          color: red;
          span{
            color: red;
          }
        }
        .texto-cuidado{
          color: red;
        }
        div{
          .info-cuidado{
            color: red;
          }
          .contacto-cuidado{
            color: red;
          }
        }
      }
      .area-item-2{
        div{
          .foto-cuidado{
            color: red;
          }
          p{
            color: red;
          }
        }
      }
      .area-item-3{
        .saludable-1{
          .sub-saludable-1{
            color: red;
          }
          p{
            color: red;
          }
        }
        .saludable-2{
          #p-cuidado{
            color: red;
          }
        }
        .saludable-3{
          img{
            color: red;
          }
        }
      }
    }
  }