.index-header{
        border-bottom: 0.5px solid grey;
        display: flex;
        align-items: center;
        justify-content: center;
        nav{
            ul{
                display: flex;
                list-style-type: none;
                .li-movil{
                    display: none;
                }
                li{
                    padding: 1rem;
                    margin: 1rem;
                    a{
                        color:black;
                        text-decoration: none;
                        font-family: Arial, Helvetica, sans-serif;
                        text-transform: capitalize;
                        font-weight:bold;
                        font-size: 1.3rem;
                        transition: 2s;
                        margin: 1rem;
                        &:hover{
                            color: grey;
                            text-decoration:underline;
                            font-size: 1.8rem;
                        }
                    }
                }
            }
           }
           a{
            img{
                 display:block;
                 width: 15.5rem;
                 height: 10.5rem;
                 transition: 2s;
                 &:hover{
                    width: 17rem;
                    height: 12rem;
                }
            }
           }
    }
