.subtitulo{
        font-size: 2rem;
        text-transform: capitalize;
        text-align: start;
        margin: 0.5rem;
        padding: 1rem;
        font-family: $title-family;
    }
.entretenimiento-padre{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 19rem;
    gap:1rem;
    margin: 0.5rem;
    justify-content: center;
    justify-items: center;
    .entretenimiento-hijo{
        border: 1px solid grey;
        border-radius: 3px;
        transition: 1.2s;
        .img-entretenimiento{
            width: 20vh;
            height:15vw;
            &:hover{
                border:3px solid blue;
            }
        }
    }
}
.subtitulo{
    @extend .subtitulo
}
.entretenimiento-padre{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 19rem;
    gap:1rem;
    margin: 0.5rem;
    justify-content: center;
    justify-items: center;
    .entretenimiento-hijo{
        border: 1px solid grey;
        border-radius: 3px;
        transition: 1.2s;
        .img-entretenimiento{
            width: 20vh;
            height:15vw;
            &:hover{
                border:3px solid blue;
            }
        }
    }
}
.subtitulo{
     @extend .subtitulo
}
.entretenimiento-padre{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 19rem;
    gap:1rem;
    margin: 0.5rem;
    justify-content: center;
    justify-items: center;
    .entretenimiento-hijo{
        border: 1px solid grey;
        border-radius: 3px;
        transition: 1.2s;
        .img-entretenimiento{
            width: 20vh;
            height:15vw;
            &:hover{
                border:3px solid blue;
            }
        }
    }
}
