.titulo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    font-family: $title-family;
    h4{
        font-size: 1.1rem;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: capitalize;
    }
}
.contenedor-grande{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:5rem;
    grid-template-areas:
    "item-a item-b";
    .contenedor-links{
        grid-area: item-a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid black;
        a{
            .instagram-logo{
                width: 8vh;
                height: 8vw;
            }
        }
        p{
            text-transform: capitalize;
        }
        a{
            color: black;
            text-decoration: none;
            text-transform: capitalize;
            transition: 1s;
            &:hover{
                text-transform: uppercase;
                text-decoration: underline;
                color: gray;
            }
        }
    }
    .contenedor-info{
        grid-area: item-b;
    display: flex;
    flex-direction: column;
    align-items: center;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            h6{
                font-size: 1rem;
                text-transform: capitalize;
                font-family: Arial, Helvetica, sans-serif;
                padding: 5px;
            }
        }
        div{
            p{
                margin: 5px;
            }
        }
    }
}
