*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: $color-back;
}
main{
    background-color: whitesmoke;
}
footer{
    border-top: 0.5px solid grey;
      background-color: $color-back
}